body {
    background-image: url("./whatsapp-background.png")
}


#bio-image {
    float:left;
    padding-right: 20px;
    max-width: 230px;
    height: 230px;
    
    
}

h1,h2 {
    font-family: 'Merriweather', serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:none;
    text-align: center;
}

p{
    font-family: 'Merriweather', serif;
    background-color:none;
}

.col-lrg-8 {
    background-color:none;
}

.navbar{
    font-family: 'Merriweather', serif;
}

#website1{
width: 500px;
height: 300px;
align-items: center;
}
#website3{
width: 500px;
 height: 300px;
content: center;
    }

footer {
    position:absolute;
    bottom:0;
    padding:0;
    width:1110px;
    background-color: transparent;
}


